<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload ="true"
	  internalLogLevel="Info"
	  internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="allfile" xsi:type="File" fileName="D:\Kod\CSharp\source\repos\OffRoadPortalAPILogs\nlog-all-${shortdate}.log" 
				layout="${longdate}|${event-properies:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
	</rules>
</nlog>